<html> 
  <head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href= "/static/css/stile.css">
        <title>О компании</title>
        <style>
           .text {
            text-align:  center;
           }
           .card {
           card-align: center;
           }
        </style>
        <ul>
          <li><a href="/birthday/">Главная страница</a></li>
          <li><a href="/wishes/">Пожелания</a></li>
          <li><a href="/blah-blah/">Личный кабинет</a></li>
          <li><a href="/about/">О компании</a></li>
        </ul>
        <ul>
            <li><a href="/goroskop/"><img src="/static/images/lala.png"  width="131" height="60" /></a></li>
            <li><a href="/stol/"><img src="/static/images/ala.png"  width="131" height="60" /></a></li>
        </ul>
  </head> 
  <body> 
     <div class = "text">
         <h1><font color = "white" size="8">Дорогой Саша,<p>Это всё сделано мной. </p><font></h1>
     </div>
   </body>
</html>

