<!Doctype html>
<html>
    <head>
        <title>Личный кабинет</title>
        <link rel="stylesheet" href="../static/css/stile.css">
        <meta name="name" content="Our first page">
        <meta name="keywords" content="html tutorial template">
    </head>
    <body>
            <ul>
              <li><a href="/birthday/">Главная страница</a></li>
              <li><a href="/wishes/">Пожелания</a></li>
              <li><a href="/blah-blah/">Личный кабинет</a></li>
              <li><a href="/about/">О компании</a></li>
            </ul>
            <ul>
            <li><a href="/goroskop/"><img src="/static/images/lala.png"  width="131" height="60" /></a></li>
            <li><a href="/stol/"><img src="/static/images/ala.png"  width="131" height="60" /></a></li>
        </ul>
    <section class="banner">
            <div class="container">
                <div class="bannerInner">
                <font color = "white"><h1 class = "text"><p>Здравствуй</p>, у <i>нас не хватило денег на <p><b>нормального программиста,</b></p> поэтому тут ничего <b>НЕТ</b></i>.<b><p> МОЖЕТЕ ПОМОЧЬ ЭТОМУ ПОЖЕРТВОВАВ <button>150000EUR</button> <p>Твой подарок <a href="/oshibka/" class = "button">ЗДЕСЬ</a></p></p></b></h1></font>
                </div>  
            </div>   
        </section>
    </body>
</html>

