<head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href= "/static/css/stile.css">
        <title>Пожелания</title>
        <ul>
          <li><a href="/birthday/">Главная страница</a></li>
          <li><a href="/wishes/">Пожелания</a></li>
          <li><a href="/blah-blah/">Личный кабинет</a></li>
          <li><a href="/about/">О компании</a></li>
        </ul>
        <ul>
            <li><a href="/goroskop/"><img src="/static/images/lala.png"  width="131" height="60" /></a></li>
            <li><a href="/stol/"><img src="/static/images/ala.png"  width="131" height="60" /></a></li>
        </ul>
  </head> 
  <body> 
  <div class="card" align = "center">
         <font color = "black" size ="5">Желаю тебе <font color = "yellow">счастья</font>, <font color = "green">здоровья</font>, <font color = "orange">удачи</font>, <font color = "purple">хорошего настроения</font>, <font color = "blue">успехов в жизне</font>, <font color = "pink">побольше пельменей:)</font> и <font color = "brown">всего-всего наилучшего</font></font>!
     </div>
     </body>
</html>
